<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список пользователей</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<div th:replace="layout/header :: header"></div>
<h1 class="text-center mb-4">Список пользователей</h1>
<table class="table table-hover table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Имя пользователя</th>
        <th>Email</th>
        <th>Логин</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user : ${users}">
        <td th:text="${user.id}"></td>
        <td th:text="${user.username}"></td>
        <td th:text="${user.email}"></td>
        <td th:text="${user.login}"></td>
        <td><a th:href="@{/user/{id}(id=${user.id})}" class="btn btn-secondary btn-lg w-100 h-100">Подробнее</a></td>
    </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center mt-4">
    <a href="/user/create" class="btn btn-secondary btn-lg">Создать</a>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
