<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Список бронирований</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<div th:replace="layout/header :: header"></div>
<h1 class="text-center mb-4">Список бронирований</h1>
<table class="table table-hover table-bordered table-striped">
    <thead class="table-dark">
    <tr>
        <th>ID</th>
        <th>Время</th>
        <th>Время отправления</th>
        <th>Время прибытия</th>
        <th>Место отправления</th>
        <th>Место прибытия</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="booking : ${bookings}">
        <td th:text="${booking.id}"></td>
        <td th:text="${booking.time}"></td>
        <td th:text="${booking.departureTime}"></td>
        <td th:text="${booking.arrivalTime}"></td>
        <td th:text="${booking.departureLocation}"></td>
        <td th:text="${booking.arrivalLocation}"></td>
        <td><a th:href="@{/booking/{id}(id=${booking.id})}" class="btn btn-secondary btn-lg w-100 h-100">Подробнее</a></td>
        <td><a th:href="@{/ticket/create/{id}(id=${booking.id})}" class="btn btn-secondary btn-lg w-100 h-100">Создать билет</a></td>
        <td>
            <form th:action="@{/booking/delete/{id}(id=${booking.id})}" method="post" th:method="delete">
                <button type="submit" class="btn btn-danger btn-lg w-100 h-100"
                        onclick="return confirm('Вы уверены, что хотите удалить бронирование?');">
                    Удалить
                </button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
<div class="d-flex justify-content-center mt-4">
    <a href="/booking/create" class="btn btn-secondary btn-lg">Создать</a>
</div>
<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
