<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Редактирование билета</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.3/css/bootstrap.min.css">
</head>
<body class="container mt-4">
<div th:replace="layout/header :: header"></div>
<h1 class="text-center mb-4">Редактирование билета</h1>

<div class="card shadow-sm">
    <div class="card-body">
        <form th:action="@{/ticket/update/{id}(id=${ticket.id})}" th:object="${ticket}" method="post" th:method="put">
            <div class="mb-3">
                <label for="price" class="form-label"><strong>Цена</strong></label>
                <input type="number" id="price" class="form-control" th:field="*{price}">
            </div>
            <div class="mb-3">
                <label for="flightDetail" class="form-label"><strong>Детали рейса</strong></label>
                <input type="text" id="flightDetail" class="form-control" th:field="*{flightDetail}">
            </div>

            <div class="d-flex justify-content-center gap-3 mt-4">
                <a href="/ticket/all" class="btn btn-secondary btn-lg">Назад</a>
                <button type="submit" class="btn btn-success btn-lg">Сохранить изменения</button>
            </div>
        </form>
    </div>
</div>

<script src="/webjars/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
</body>
</html>
